<div class="col-6 col-md-3 col-lg-3 px-2 team-item mb-4">
    <a class="color-white" href="#!" data-remodal-target="{{ artist['modal'] }}">
      <div class="hoverbox w-75 rounded-circle overflow-hidden mx-auto">
        <img class="img-fluid" src="{{ artist['pic'] }}" alt="">
        <div class="hoverbox-content">
          <div class="d-flex align-items-end justify-content-center h-100">
          </div>
        </div>
      </div>
    </a>
    <h6 class="fs-0 font-weight-bold mt-2 mb-0"><a class="text-black" href="#!" data-remodal-target="{{ artist['modal'] }}">{{ artist['name'] }}</a></h6>
    <h6 class="ls-0">{{ artist['title'] }}</h6>
</div>