<!DOCTYPE html>
<html>
    <head>
        <title>{{company_name}} Careers</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.png">
    </head>
    <body>
        <h1>{{company_name}} Careers</h1>

        <p>{{ tabs }}</p>
        <p>{{ art }}</p>

        <!-- <div>
            {% for tab in tabs %}
                <div>
                    {{ tab['id'] }}<br>{{ tab['title'] }}
                </div>
            {% endfor %}
        </div> -->

        <ul>
            {% for key, value in tabs.items() %}
            <li class="nav-item">
                <a class="nav-link {% if loop.first %} active{% endif %}" id="{{ value['id'] }}" data-toggle="tab" href="{{ value['href'] }}" role="tab" aria-control="{{ value['control'] }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ value['title'] }}</a>
            </li>
            {% endfor %}
        </ul>

        <ul>
            {% for value in art %}
                <p>{{ value['name'] }} {{ value['title'] }} {{ value['tab01']['pic'] }} {{ value['tab01']['modal'] }}</p>
            {% endfor %}
        </ul>


    </body>
</html>